@import "tailwindcss";

.card {
  @apply bg-white flex flex-col gap-2 p-4 my-4;
}

.img-card {
  @apply w-full rounded-xl;
}

body {
  @apply bg-[#F4D04E] min-h-screen flex items-center justify-center;
}

.mainHomeScreen {
  @apply w-full;
}

@layer base {
  h2 {
    font-size: 9px;
  }

  h3 {
    font-size: 10px;
    font-weight: bold;
  }

  p {
    font-size: 10px;
  }
}
